*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chains{
    width: 60%;
}

.manga1{
    background-color: rgb(32, 32, 32);
    color: white;
    padding: 25px;
    font-size: small;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 25%;
}

.dee{
    font-size: xx-large;
}

#capdemons{
    width: 60%;
}

.manga2{
    background-color: rgb(32, 32, 32);
    color: white;
    padding: 25px;
    font-size: large;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 25%;
}

.de{
    font-size: xx-large;
}

#solo{
    width: 60%;
}

.manga3{
    background-color: rgb(32, 32, 32);
    color: white;
    padding: 25px;
    font-size: large;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 25%;
 }
 .deeee{
    font-size: xx-large;
 }

 #one{
    width: 60%;
}

.manga4{
    background-color: rgb(32, 32, 32);
    color: white;
    padding: 25px;
    font-size: large;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 25%;
 }
 .deee{
    font-size: xx-large;
 }